* {
	-ms-box-sizing: border-box;
	-moz-box-sizing: border-box;
	-webkit-box-sizing: border-box;
	box-sizing: border-box;
}

a {
	text-decoration: none;
}

body {
	height: 100%;
	width: 100%;
	font-family: "Helvetica Neue",Helvetica,"Segoe UI",Tahoma,Arial,sans-serif;
	-webkit-font-smoothing: antialiased;
	background: #fff;
	color: #555459;
	padding: 0;
	overflow: hidden;
}
body.iframe {
	overflow-y: scroll
}

code {
    font-family: Monaco,Menlo,Consolas,"Courier New",monospace;
    font-size: 12px;
    line-height: 12px;
    border-radius: 3px;
    white-space: normal;
    color: #c25;
    background-color: #f7f7f9;
    border: 1px solid #e1e1e8;
    padding: 1px 3px;
}

#client-ui {
	position: absolute;
	top: 0;
	right: 0;
	bottom: 0;
	left: 0;
	overflow: hidden;
}

header {
	background: 0 0;
	height: 3.3125rem;
	position: fixed;
	z-index: 200;
	min-width: 768px;
	width: 100%;
}

#team_menu {
	font-size: 1rem;
	font-weight: 900;
	padding: 0 1rem;
	color: #fff;
	height: 3.8125rem;
	width: 220px;
	line-height: 58px;
	background: #4d394b;
	border-bottom: 1px solid #4d394b;
	float: left;
	position: relative;
	z-index: 50;
}

#im-list {
    list-style-type: none;
    text-align: left;
    color: #fff;
    opacity: 0.6;
    margin: 10px 1px 0 0;
    width: 204px;
}

ul {
    padding: 0px;
}

.presence {
    width: .5625rem;
    height: .5625rem;
    margin: 0 .15rem;
    display: inline-block;
    vertical-align: baseline;
    background: 0 0;
    position: relative;
    background-color: #99D04A;
    border-radius: 100%;
}

#im-list li {
    font-size: 1rem;
    line-height: 1.5rem;
    height: 1.5rem;
    margin-right: 1px;
    position: relative;
    clear: both;
    padding-left: 16px;
}

#chi {
    margin-top: 3px;
    padding-left: 1.3rem;
    background: #fff;
    color: #9e9ea6;
    font-size: .8125rem;
    font-weight: 400;
    line-height: 1.16;
}

#ct {
    padding: 0 .1rem 0 1.3rem;
    color: #2c2d30;
    font-weight: 900;
    font-size: 1.125rem;
    line-height: 1.375rem;
    z-index: 25;
}

#team_menu #team_name {
    font-size: 1.125rem;
    line-height: 1.375rem;
    max-width: 9.12rem;
}

#ch {
	padding: .7rem 0 0;
	margin: 0 0 0 220px;
	height: 3.3125rem;
	z-index: 25;
}

#col_messages {
	margin-left: 0;
	position: relative;
}

.row-fluid {
	width: 100%;
}

#message-form {
	position: relative;
	margin: 0;
	height: 42px;
}

#message-input {
	height: 42px;
	background: #fff;
	width: 100%;
	font-size: .9375rem;
	line-height: 1.2rem;
	border: 2px solid #E0E0E0;
	// border-left: none;
	background-clip: padding-box;
	margin: 0;
	color: #3d3c40;
	box-shadow: none;
	outline: 0;
	position: absolute;
	bottom: 0;
	min-height: 2.625rem!important;
	padding: .5625rem 2.5rem .5625rem .5rem;
	max-height: 10rem!important;
	border-radius: 6px;
    overflow-y: hidden;
}

#message-input:focus {
    border-color: #bbbdbf;
}

#mic {
	font-size: .9rem;
	position: absolute;
	bottom: 1.375rem;
	left: 1.25rem;
	right: .25rem;
	padding-right: 1rem;
	box-shadow: none;
}

#footer {
	position: fixed;
	bottom: 0;
	left: 220px;
	right: 1rem;
	z-index: 52;
}

#footer:not(.footer_msg_input) {
	height: 4rem;
	background: #fff;
}

#client_body:before {
	position: absolute;
	z-index: 98;
	left: 220px;
	right: 0;
	height: .4375rem;
	border-bottom: .0625rem solid #e8e8e8;
	background: #fff;
	content: '';
}

#ccb {
	height: auto;
	height: 1800px;
	background: #4D5250;
	width: 220px;
	top: 0;
	left: 0;
	position: absolute;
	bottom: -3rem;
}

#cc {
	background: #4D5250;
	color: #ab9ba9;
	width: 220px;
	float: left;
	position: relative;
	top: .5rem;
}

#col_messages, .row-fluid, #mc {
	height: 100%;
}

#client_body {
	margin-top: 3.3125rem;
    position: fixed;
    width: 100%;
    bottom: 70px;
    height: 100%;
    top: 0px;
}

#mc, iframe {
    position: relative;
    margin-left: 220px;
    height: 100%;
    display: block;
}
#msd {
    overflow-y: scroll;
    height: 100%;
    padding-bottom: 140px;
}
iframe {
	width: 100%;
}

.message_gutter {
	width: 4.5rem;
	padding-right: .625rem;
}
.message_gutter {
	text-align: right;
	position: absolute;
	top: 0;
	left: 0;
}

.timestamp {
	color: #9e9ea6;
	font-size: .75rem;
}

.member {
	font-weight: 900;
	color: #2c2d30;
	line-height: 1.125rem;
}

.message_icon {
	margin-top: .25rem;
	display: block;
}

.member_image {
	border-radius: .2rem;
	background-size: 100%;
	background-repeat: no-repeat;
	display: inline-block;
	position: relative;

	background-color: pink;

	color: white;
    line-height: 35px;
    text-transform: capitalize;
    font-size: 21px;
    text-align: center;

	/* thumb_36 */

	width: 2.25rem;
	height: 2.25rem;
	
	/*
	background-image: url('https://avatars.slack-edge.com/2015-10-19/12818173283_aea3b0bbf30420da2fce_72.jpg')
	*/
}

.message_body {
	display: block;
	cursor: text;

	/* just when every message shows an avatar */

	margin-top: -.125rem;

}

blockquote {
    margin: 0px;
    border-left: 4px solid #e3e4e6;
    padding-left: 12px;
}

.message_content {
	margin-top: .0625rem;
	margin-left: 4.5rem;
}

.message_content a {
    color: #2a80b9;
}

.message_content a:hover {
    text-decoration: underline;
}

#dc .day_msgs {
	margin: -18px 0 0;
	padding: 1.75rem 0 1.25rem;
	border-top: 1px solid #e8e8e8;
}

#dc {
	position: relative;
}

ts-message {
	display: block;
	width: 100%;
	margin: 0 auto -.0625rem;
	position: relative;
	padding: .0625rem 2.5rem .125rem 0;
	border-left: none;
	border-right: none;
	border-top: 1px solid rgba(0, 0, 0, 0);
	border-bottom: 1px solid rgba(0, 0, 0, 0);
	color: #2c2d30;
	font-size: .9375rem;
	line-height: 1.375rem;
	word-wrap: break-word;
}

#connection_div {
    display: none;
    color: #fff;
    text-align: center;
    font-size: .9rem;
    font-weight: 900;
    line-height: 1.2rem;
    padding: .2rem .4rem 0;
    border-radius: .375rem;
    margin-left: 1rem;
    margin-right: .5rem;
    -webkit-transition: background .1s ease-out 0s;
    -moz-transition: background .1s ease-out 0s;
    transition: background .1s ease-out 0s;
    position: absolute;
    top: 1.5rem;
    left: 0;
    right: 1rem;
    height: 1.5625rem;
    text-shadow: 0 1px #00000026;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
    z-index: 99;
    height: 26px;
    line-height: 1.125rem;
    background: #dfa941;
}





@media (max-width: 550px) {
  	.facet_sidebar, 
    #col_channels_bg, 
    #col_channels,
    #team_menu
    {
   		display: none;
  	}
    #mc, #ch {
        margin-left: 0px;
    }
    #client_body:before {
        left: 0px;
    }
    #footer {
        left: 0px;
    }
    iframe {
        margin-left: 0;
    }

}